
<h2>Login</h2><br/>

<form method='POST' action='/session'>

  <input type='hidden' name='redir' value='<%= redir %>'>

  <div>
    <label for="login">Login:</label>
    <br />
    <input type="text" id="login" name="login"  class="formText"  class="formText" size="30" />
    <br />


    <label for="password">Password:</label>
    <br />
    <input type="password" id="password" name="password" class="formText"  class="formText" size="30" />
    <br />

    <input name="commit" type="submit" class="submitStyle" value="Login" />
  </div>

</form>
