	
	<h2>Añadir un comentario:</h2><br/>
    	<!--Formulario de Create New Question:-->
		
			<form method="post" action ="/quizzes/<%=quiz.id%>/comments/">
				<input type ="text" 
						id = "comment"
						class="formText"
						name="comment[text]"
						value =""
						placeholder="Comentario"
						
				/>

				<button type="submit"  class="submitStyle">Enviar</button>

			</form>



