	
	
    <div class="main">

    	<p>Añadir un comentario:</p>
    	<!--Formulario de Create New Question:-->
		
		<p>
			<form method="post" action ="/quizzes/<%=quiz.id%>/comments/">
				<input type ="text" 
						id = "comment"
						class="formText"
						name="comment[text]"
						value =""
						placeholder="Comentario"
						
				/>

				<button type="submit"  class="submitStyle">Enviar</button>

			</form>
		</p>

    </div>


