<!DOCTYPE html>
<html>
  <body>
  		 <p>
			Mi nombre es <strong>Micah Davis</strong>, soy un estudiante de Teleco en la ETSIT UPM. Actualmente estoy trabajando en varios juegos para android, mi primero de ellos publicado en Google Play es: <strong><em>Check Mate Urinal</em></strong>.   Pincha en la imagen para verlo en GooglePlay, es gratis!<br><br>

			<img src="/images/PictureOfMe.JPG" alt="Picture of Me" width="150" height="200"  >

			<a href="https://play.google.com/store/apps/details?id=com.MYGamz.Check_Mate"><img border="0" alt="CheckMate Urinal" src="/images/FeatureGraphic.png" width="410" height="200"></a>
		
			
		</p>
		<br>
		<p>Y este video es de mi hermano pequeño y su grupo de baile. Pensé que le gustaria que la gente lo vea. Suponiendo que vean primero mi pagina. <br><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/A9GvvUpBfMk" frameborder="0" allowfullscreen></iframe>
		</p>
  </body>
</html>


