<!DOCTYPE html>
<html>
  <head>
    <title>Preguntas</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='../public/favicon.ico' type='image/x-icon'/>
  </head>  


  <body>

    <header>
        <h2>Quiz: el juego de las preguntas</h2>
    </header> 

    <nav>
      <a href="/">Inicio</a>
      <a href="/question">Preguntas</a>
    </nav>


    <section>
        <div><%-body%><div>
    </section>

    <footer>
      <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
    </footer>


    <!-- <p>El portal donde podrá crear sus propios juegos!</p><p> <a href ="question"> Comience a Jugar</a></p> -->



  </body>
</html>
