			<!--Question Input box-->
			<label for="preg">Pregunta:</label>								<!-- Label No visible en smartphone layout -->
			<input type = "text" id="preg" name = "quiz[question]" value="<%=quiz.question%>" placeholder="Pregunta"/> 

			<br>

			<!-- Answer Input box & Submit Button -->
			<label for="resp">Respuesta:</label>			
			<input type = "text" id="resp" name = "quiz[answer]" value="<%=quiz.answer%>" placeholder="Respuesta"/> 
			
			<br>

			<!--Submit button--> 
			<input type ="submit" class="submitStyle" value="Guardar">
			<!--Cancel button--> 
			<a href="/quizzes"><button type="button" class="button">Cancelar</button></a>  <!-- Hipervínculo en formato de boton. -->


			<!--Parametros Ocultos:-->
			<!--<input type="hidden" name="AnswerIndex" value="1"/>-->



			









