	
    	<h2>Añadir una pregunta:</h2><br/>
    	<!--Formulario de Create New Question:-->
		
		
		<form method="post" action ="/quizzes" enctype="multipart/form-data">
				<% include _form.ejs%>
		</form>
		


  


