<!DOCTYPE html>
<html>
  <body>
    <p>La respuesta <strong><%= answer %></strong> es <%= result %></p>
    <p> <a href ="/quizzes/<%=quiz.id%>?answer=<%=answer%>"> Intentalo otra vez</a></p>

  </body>
</html>
