
<script>
   function confirmPassword() {
      var pw1 = document.getElementById('user_password').value;
      var pw2 = document.getElementById('user_confirm_password').value;

      if (!pw1 || !pw2) {
         alert('Debe rellenar los campos de Password y Confirmación.');
         return false;
      }

      if (pw1 === pw2) {
         return true;
      } else {
         alert('Los passwords introducidos no coinciden.');
         return false;
      }
   }
</script>



	<% if ( ! user.id) { %>
		<label for="preg" class="rem">Username:</label>
      <br/>
		<input type="text" id="username" name="user[username]"  class="formText" value="<%= user.username %>"/>
      <br/>

	<% } else { %>
		Username: <%= user.username %>
	<% } %>



	<label for="user_password" class="rem">Password:</label>
   <br/>
	<input type="password" id="user_password" name="user[password]" class="formText"/> 
   <br/>




	<label for="user_confirm_password" class="rem">Confirmar Password:</label>
   <br/>
	<input type="password" id="user_confirm_password"  class="formText"/>
   <br/>
 




	<a href="/"><button type="button" class="button">Cancelar</button></a>



	<input type="submit"  class="submitStyle" value="Guardar" onclick="return confirmPassword()">

